*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGvYjCVURzTVqYsspp5gNI95K7XJgYZXUqSw&usqp=CAU');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
}
.login-form{
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form>input:focus{
    outline: none;
    border: none;
}
.login-title{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.button{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGvYjCVURzTVqYsspp5gNI95K7XJgYZXUqSw&usqp=CAU');
    width: 100%;
    border-radius: 30px;
    border:none;
    height: 30px;
}

.form-label:focus{
    outline: none;
    border: none;
}